@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@400..700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "@alpic-ai/ui/theme";
@import "reveal.js/reveal.css";
/* @import "reveal.js/theme/black.css"; */
@import "reveal.js/theme/dracula.css";
/* @import "reveal.js/theme/white.css"; */

@source "../node_modules/@alpic-ai/ui/src";

@theme {
  --font-mozilla: "Mozilla Text", serif;
  --animate-float: float 3s ease-in-out infinite;
  --animate-twirl: twirl 20s ease-in-out infinite;
  --animate-aurora: aurora 20s ease-in-out infinite;
  --animate-gradient-flow: gradient-flow 6s linear infinite;
}

.reveal img  {
  margin-left: auto;
  margin-right: auto;
}

/* Otherwise it won't display at proper size in Claude, not sure why / how to fix*/
.reveal-viewport {
  height: 700px;
}
